*{

padding: 0;
margin: 0;
box-sizing: border-box;

}



body{
  color: #ffffff;
}

header{
  background-color: #0F0F0F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


