* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b2838;
  color: #ffffff;
}

header {
  background-color: #111111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}
