* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #1b2838;
  color: #ffffff;
  padding-top: 140px;
}

header {
  top: 0;
  left : 0;
  width: 100%;
  z-index:1000 ;
  background-color: #111111;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 30px;
  gap: 48px;
  position: fixed;
}

.logo {
  width: 80px;
  height: 80px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-top: 29px;
}

header nav ul li a {
  text-decoration: none;
  color: #c6d4df;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header nav ul li a:hover {
  color: #3a64d9;
}

section {
  padding: 50px 30px;
}
h1 {
  font-size: 90px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  margin-bottom: 5px;
  font-weight: normal; 
}

p {
  color: #8f98a0; 
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.5; 
}

.Meus_jogos_favoritos, .Meus_jogos {
display: flex;
flex-wrap: wrap;
gap: 30px;
}

.Meus_jogos_favoritos img, .Meus_jogos img{
  width : 500px;
 height: 590px;
 border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: transform 0.3s ease,box-shadow 0.3s ease; 

}

.Meus_jogos_favoritos img:hover, .Meus_jogos img:hover{
  transform: scale(1.15);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.banner_jogo {
  width: 100%; 
  height: 1200px;
  object-fit: cover; 
  object-position: top center; 
  display: block;
}

.barra_steam {
  width: 100%;
  background-color: #2d486a;
   display: flex;
  padding: 20px 80px;
  gap: 77px; 
  border-bottom: 1px solid rgba(0, 0, 0, 0);
 
}

.status span {
  color: #7c8b97; /* Cor cinza do rótulo */
  font-size: 45px;
  font-weight: bold;
  display: block;
  letter-spacing: 1px;
}
.status p {
color: #c6d4df; 
  font-size: 29px;
  margin-bottom: 0; 
  margin-top: 4px;
}

.conquistas{
display: flex;
flex-direction: column;
align-items: center;
padding: 30px;

}

.conquistas img{
  width: 100%;
 max-width: 5000px; 
 
}






